* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-image: url("./assets/images/Background-top.png");
  background-size: cover;
  height: 560px;
}

#menu img {
  margin-top: 65px;
  margin-left: 87px;
}

#titulo {
  color: #ffffff;
  padding: 60px;
  padding-left: 170px;
  padding-top: 60px;
  width: 536px;
}

header h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
}

header h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

/*Lista da Seção de Certificação */

#secao_certificacao {
  background-color: #eaece5;
}

#secao_certificacao ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#secao_certificacao ul li {
  display: flex;
  align-items: center;
  color: #122235;
  font-size: 20px;
}

#secao_certificacao ul li img {
  margin: 40px 10px;
}

#secao_video_texto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;
}

#secao_esquerda {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#secao_direira {
  width: 50%;
  padding-left: 50px;
}

#secao_direira h4 {
  width: 80%;
  font-size: 32px;
  color: #247ba0;
}

#secao_direira p {
  margin-top: 20px;
  width: 80%;
  font-size: 16px;
  color: #383838;
}

iframe {
  border-radius: 10px;
}

#alunos {
  background-color: #247ba0;
  text-align: center;
  padding-top: 20px;
  height: 350px;
}

#alunos h2 {
  color: white;
  margin: 20px 20px;
}

#card-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  width: 400px;
  margin: 20px;
  font-size: 12px;
  border-radius: 15px;
}

.card-img {
  margin: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card-body {
  padding: 15px;
  text-align: left;
}

.nome-aluno {
  padding-top: 5px;
  font-weight: bold;
}

footer {
  background-color: #eaece5;
  height: 200px;
  text-align: center;
}

footer h2 {
  margin: 0px;
  padding: 40px;
}

footer button {
  background-color: #247ba0;
  height: 40px;
  width: 200px;
  color: white;
  font-size: 12px;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}
